<html>
<head>
</head>
<body>
<a href="{% url 'logout' %}">Log Out</a><br>
<a href="{% url 'schedules' %}">List Schedules</a>
<br>
<br>
<h2>Currently Selected</h2>
<table border="1">
    <tr>
        <th>Account</th>
        <th>Host</th>
        <th>Port</th>
    </tr>
    <tr>
        <td>{{ display_cred.user }}</td>
        <td>{{ display_cred.hostname }}</td>
        <td>{{ display_cred.port }}</td>
    </tr>
</table>
<br>
<br>
<table border="1">
    <tr>
        <th>Account</th>
        <th>Host</th>
        <th>Port</th>
        <th>ID</th>
        <th></th>
        <th></th>
    </tr>
    {% for cred in credential_list %}
    <tr>
        <td>{{ cred.user }}</td>
        <td>{{ cred.hostname }}</td>
        <td>{{ cred.port }}</td>
        <td>{{ cred.ident }}</td>
        <td><a href="{% url 'credentials_select' cred.ident %}">Select</a> </td>
        <td><a href="{% url 'credentials_delete' cred.ident %}">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'credentials' %}" method="post">
    {% csrf_token %}
    {{ credentials_form }}
    <input type="submit" value="Submit" />
</form>

</body>
</html>