<html>
<head>
</head>
<body>
<a href="{% url 'logout' %}">Log Out</a>
<table border="1">
    <tr>
        <td>{{ display_cred.user }}</td>
        <td>{{ display_cred.hostname }}</td>
        <td>{{ display_cred.port }}</td>
        <td><a href="{% url 'credentials' %}">Select Another Profile</a></td>
    </tr>
</table>
<br>
<h3>Additional Display field</h3>
<form action="{% url 'add_display_field' %}" method="post">
    {% csrf_token %}
    {{ display_field }}
    <input type="submit" value="Submit" />
</form>
<h3>Filter on all Mappings fields</h3>
<form action="{% url 'add_search_all_filter' %}" method="post">
    {% csrf_token %}
    {{ all_search }}
    <input type="submit" value="Submit" />
</form>
<h3>Filter on specific Mappings field</h3>
<form action="{% url 'add_search_field_filter' %}" method="post">
    {% csrf_token %}
    {{ field_search }}
    <input type="submit" value="Submit" />
</form>
<form action="{% url 'clear_filters' %}" method="post">
    {% csrf_token %}
    {{ clear_filters }}
    <input type="submit" value="Clear" />
</form>
{% if search_filter %}
{% autoescape off %}{{ search_filter }}{% endautoescape %}
{% endif %}
{% if schedules_json or schedules_json.len > 0 %}
<table border="1">
    <tr>
        <th>TemplateName</th>
        <th>ID</a></th>
        <th>Status</th>
        <th>Process Count</th>
        {% for display_field in display_fields %}
        <th>{{ display_field }}</th>
        {% endfor %}
    </tr>
    {% for schedule in schedules_json %}
    <tr>
        <td>{{ schedule.templateName }}</td>
        <td><a href="{% url 'schedule' schedule.id %}">{{ schedule.id }}</a></td>
        <td>{{ schedule.status }}</td>
        <td>{{ schedule.process_count }}</td>
        {% for display_field in schedule.display_fields %}
        <td>{{ display_field }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    {% else %}
<h2>No schedules are available. Try clearing filters and trying again.</h2>
{% endif %}
</body>
</html>