<html>
<head>
</head>
<body>
<a href="{% url 'logout' %}">Log Out</a><br>
<a href="{% url 'schedules' %}">List Schedules</a>
<br>
<br>
{% if schedule_json %}

<table border="1">
    <tr>
        <th>{{ schedule_json.templateName }}</th>
        <td>{{ schedule_json.id }}</td>
        <td>{{ schedule_json.status }}</td>
        <td><a href="{% url 'schedule' schedule_json.id %}">All</a></td>
        <td><a href="{% url 'schedule_mappings' schedule_json.id %}">Mappings</a></td>
        <td><a href="{% url 'schedule_resources' schedule_json.id %}">Resources</a></td>
        <td><a href="{% url 'schedule_conditional_action' schedule_json.id %}">Conditional Executions</a></td>
        <td><a href="{% url 'schedule_successful_executions' schedule_json.id %}">Successful Executions</a></td>
        <td><a href="{% url 'schedule_error_message' schedule_json.id %}">Error Message</a></td>
        <td><a href="{% url 'schedule_error_stack_trace' schedule_json.id %}">Error Stack Trace</a></td>
        <td><a href="{% url 'schedule_processes' schedule_json.id %}">Processes</a></td>
    </tr>
</table>
{% if mappings %}
<h2>Mappings</h2>
{% autoescape off %}{{ mappings }}{% endautoescape %}
{% endif %}

{% if resources %}
<h2>Resources</h2>
{% autoescape off %}{{ resources }}{% endautoescape %}
{% endif %}

{% if conditionalAction %}
<h2>Conditional Action</h2>
{% autoescape off %}{{ conditionalAction }}{% endautoescape %}
{% endif %}

{% if successfulExecutions %}
<h2>Successful Executions</h2>
{% autoescape off %}{{ successfulExecutions }}{% endautoescape %}
{% endif %}

{% if errorMessage %}
<h2>Error Message</h2>
{% autoescape off %}{{ errorMessage }}{% endautoescape %}
{% endif %}

{% if errorStackTrace %}
<h2>Error StackTrace</h2>
{% autoescape off %}{{ errorStackTrace }}{% endautoescape %}
{% endif %}

{% if processes %}
<h2>Processes</h2>
{% autoescape off %}{{ processes }}{% endautoescape %}
{% endif %}

{% else %}
<p>No schedules are available.</p>
{% endif %}
</body>
</html>