<html>
<head>
</head>
<body>
<a href="{% url 'schedules' %}">List Schedules</a>
<br>
<br>

{% if schedule_json %}

<table border="1">
    <tr>
        <th>{{ schedule_json.templateName }}</th>
        <td>{{ schedule_json.id }}</td>
        <td>{{ schedule_json.status }}</td>
        <td><a href="{% url 'schedule' schedule_json.id %}">All</a></td>
        <td><a href="{% url 'schedule_mappings' schedule_json.id %}">Mappings</a></td>
        <td><a href="{% url 'schedule_resources' schedule_json.id %}">Resources</a></td>
        <td><a href="{% url 'schedule_conditional_action' schedule_json.id %}">Conditional Executions</a></td>
        <td><a href="{% url 'schedule_successful_executions' schedule_json.id %}">Successful Executions</a></td>
        <td><a href="{% url 'schedule_error_message' schedule_json.id %}">Error Message</a></td>
        <td><a href="{% url 'schedul_error_stack_trace' schedule_json.id %}">Error Stack Trace</a></td>
    </tr>
</table>

<h2>Resources</h2>
{% if resources %}
{% autoescape off %}{{ resources }}{% endautoescape %}
{% else %}
<p>Empty</p>
{% endif %}

{% else %}
<p>No schedules are available.</p>
{% endif %}
</body>
</html>